{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ModaSyar</title>
    <link rel="stylesheet" href="{% static 'myApp/css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="{% static 'myApp/images/logo.png' %}" type="image/x-icon" />
</head>
<body>
    <div class="nav">
      <div class="logo">
          <a href="{% url 'dashboardlogged' %}">  
              <img src="{% static 'myApp/images/logo.png' %}" alt="logo">
              <p>Moda<span style="color:#436850;">Syar</span></p>
          </a>
      </div>
      <div class="item">
          <a href="{% url 'explorelogged' %}" class="menu">
              Telusuri UMKM
          </a>
          <a href="{% url 'tingkatkanmodal' %}" class="menu">
              Tingkatkan Modal
          </a>
          <div class="form-control">
              <input type="value" required="">
              <label>
                  <span style="transition-delay:0ms">S</span><span style="transition-delay:50ms">e</span><span style="transition-delay:100ms">a</span><span style="transition-delay:150ms">r</span><span style="transition-delay:200ms">c</span><span style="transition-delay:250ms">h</span>
              </label>
          </div>
          <a href="{% url 'userdashboard' %}" class="menu">
              profil
          </a>
      </div>
    </div>

      <!-- Transaction Section -->
      <div class="transaction-section">
        <div class="transaction-desc">
          <img src="{% static 'myApp/images/transaction-desc.png' %}" alt="umkm" class="desc-img">
          <div class="desc-text">
            <h3>Kerajinan Tangan Maju Bersama</h3>
            <p>Mudharabah</p>
            <p>PT Maju Bersama</p>
            <p>Sektor : Kreatif</p>
          </div>
        </div>
        <div class="transaction-detail" id="transactionDetail">
          <h2>Detail Pembelian : </h2>
          <div class="price-detail">
            <p>Harga perunit sukuk</p>
            <p style="font-weight: 600;">Rp <span id="price">50000</span></p>
          </div>
          <div class="price-detail">
            <p>Jumlah Investasi </p> 
            <p>(min. pembelian 10 unit)</p>
          </div>
          <div class="invest-sum">
            <button class="button decrement" onclick="decrement()">-</button>
            <input type="text" id="number" class="number" value="10" readonly>
            <button class="button increment" onclick="increment()">+</button>
          </div>
          <h2>Metode Pembayaran</h2>
          <div class="buy-method" id="bankDropdown">
            <button onclick="toggleDropdown('bankContent')" class="dropdown-button" id="bankButton" style="color: black;">
              <span>Pilih Metode Pembayaran</span>
              <svg width="50" height="50" viewBox="0 10 100 100" xmlns="http://www.w3.org/2000/svg">
                <path d="M40 40 L70 60 L40 80" stroke="black" stroke-width="5" fill="none" />
              </svg>            
            </button>
            <div class="dropdown-content" id="bankContent">
              <label><input type="radio" name="bank" value="Bank BCA"><img src="path/to/bca.png"> Bank BCA</label>
              <label><input type="radio" name="bank" value="Bank Mandiri"><img src="path/to/mandiri.png"> Bank Mandiri</label>
              <label><input type="radio" name="bank" value="Bank BNI"><img src="path/to/bni.png"> Bank BNI</label>
              <label><input type="radio" name="bank" value="Bank BRI"><img src="path/to/bri.png"> Bank BRI</label>
              <label><input type="radio" name="bank" value="Bank Syariah Indonesia"><img src="path/to/bsi.png"> Bank Syariah Indonesia</label>
              <label><input type="radio" name="bank" value="Bank Permata"><img src="path/to/permata.png"> Bank Permata</label>
              <label><input type="radio" name="bank" value="SeaBank"><img src="path/to/seabank.png"> SeaBank</label>
              <button class="save-button" onclick="saveSelection('bank')">SIMPAN</button>
            </div>
          </div>
          
          <div class="buy-method" id="voucherDropdown">
            <button onclick="toggleDropdown('voucherContent')" class="dropdown-button" id="voucherButton" style="color: black;">
              <span>Gunakan Voucher</span>
              <svg width="50" height="50" viewBox="0 10 100 100" xmlns="http://www.w3.org/2000/svg">
                <path d="M40 40 L70 60 L40 80" stroke="black" stroke-width="5" fill="none" />
              </svg> 
            </button>
            <div class="dropdown-content" id="voucherContent">
              <input type="text" placeholder="Masukkan kode promo">
              <label><input type="radio" name="voucher" value="Diskon Pengguna Baru"> Diskon Pengguna Baru</label>
              <label><input type="radio" name="voucher" value="50% hola-hola"> 50% hola-hola</label>
              <label><input type="radio" name="voucher" value="25% diskon bca"> 25% diskon bca</label>
              <label><input type="radio" name="voucher" value="30% diskon mandiri"> 30% diskon mandiri</label>
              <button class="save-button" onclick="saveSelection('voucher')">SIMPAN</button>
            </div>
          </div>
          <div class="price-list"> 
            <p>Nilai Investasi</p>
            <p style="font-weight: 600;">Rp <span id="investPrice">500000</span></p>
          </div>
          <div class="price-list">
            <p>Biaya Transaksi</p>
            <p style="font-weight: 600;">Rp <span id="transactionFee">2000</span></p>
          </div>
          <h2>Total Pembayaran</h2>
          <div class="total-price">
            <h3>Rp <span id="totalPrice">502000</span></h3>
            <button onclick="confirmTransaction()">
              Konfirmasi
            </button>
          </div>
        </div>
      </div>

      <script>
        let number = 10;
        const pricePerUnit = 50000;
        const transactionFee = 2000;

        document.addEventListener('DOMContentLoaded', function() {
          updatePrices();
        });

        function formatNumber(num) {
          return num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
        }

        function updatePrices() {
          const investPrice = number * pricePerUnit;
          document.getElementById('investPrice').textContent = formatNumber(investPrice);
          const totalPrice = investPrice + transactionFee;
          document.getElementById('totalPrice').textContent = formatNumber(totalPrice);
        }

        function decrement() {
          if (number > 10) {
            number--;
            document.getElementById('number').value = number;
            updatePrices();
          }
        }

        function increment() {
          number++;
          document.getElementById('number').value = number;
          updatePrices();
        }

        function toggleDropdown(contentId) {
          var content = document.getElementById(contentId);
          content.style.display = (content.style.display === "block") ? "none" : "block";
        }

        function saveSelection(type) {
          var selectedValue;
          if (type === 'voucher') {
            var voucherOptions = document.getElementsByName('voucher');
            for (var i = 0; i < voucherOptions.length; i++) {
              if (voucherOptions[i].checked) {
                selectedValue = voucherOptions[i].value;
                break;
              }
            }
            var voucherButton = document.getElementById('voucherButton');
            voucherButton.innerHTML = `<span>${selectedValue ? selectedValue : 'Voucher'}</span>`;
            toggleDropdown('voucherContent');
          } else if (type === 'bank') {
            var bankOptions = document.getElementsByName('bank');
            for (var i = 0; i < bankOptions.length; i++) {
              if (bankOptions[i].checked) {
                selectedValue = bankOptions[i].value;
                break;
              }
            }
            var bankButton = document.getElementById('bankButton');
            bankButton.innerHTML = `<span>${selectedValue ? selectedValue : 'Metode Pembayaran'}</span>`;
            toggleDropdown('bankContent');
          }
        }

        function confirmTransaction() {
          const transactionDetail = document.getElementById('transactionDetail');
          transactionDetail.innerHTML = `
            <div class="transaction-success">
              <h2>Transaksi Berhasil!</h2>
              <p>Terima kasih telah melakukan investasi.</p>
              <a href="{% url 'explorelogged' %}" class="button">Telusuri Mitra UMKM Lainnya</a>
            </div>
          `;
        }
      </script>

      <footer>
        <div class="support">
          <p>Didukung dan Diawasi Oleh :</p>
          <div class="logo">
            <img src="{% static 'myApp/images/ojk-logo.png' %}" alt="ojk-logo" />
            <img src="{% static 'myApp/images/afsi-logo.png' %}" alt="afsi-logo" />
          </div>
        </div>
        <div class="menu">
          <h3>Pelajari Kami</h3>
          <a href="{% url 'aboutUslogged' %}">About Us</a>
          <a href="#SnK">Syarat & Ketentuan</a>
          <a href="#KebijakanPrivasi">Kebijakan Privasi</a>
        </div>
      </footer>
</body>
</html>